@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

$lineaDivisoria: rgba(255, 255, 255, 0.356);
$tituloPrincipal: 'Playfal Display', serif;
$boton: rgba(250, 1, 1, 0.671);
$shadow: 2px 2px 5px rgba(255, 255, 255, 0.329);
$fondoCard: rgba(102, 100, 100, 0.418);
$shadowCard: 3px 1px 3px rgba(255, 255, 255, 0.329);